name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linting:
    name: Static linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Installing Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install NPM dependencies
        run: npm ci

      # Needed because ESLint uses tsconfig which is coming from docusaurus
      - name: Install Website NPM dependencies
        working-directory: ./website
        run: npm ci

      - name: ESLint
        run: npm run eslint:ci

      - name: Prettier
        run: npm run prettier:ci

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install NPM dependencies
        run: npm ci

      - name: Tests
        run: npm run test

      - uses: actions/upload-artifact@v4 # upload test results
        if: success() || failure() # run this step even if previous step failed
        with:
          name: test-results
          path: reports/jest-coverage/junit.xml

  build:
    name: Build job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install NPM dependencies
        run: npm ci

      - name: Build
        run: npm run build

  website-build:
    name: Website Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install NPM dependencies
        working-directory: ./website
        run: npm ci

      - name: Build
        working-directory: ./website
        run: npm run build

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./website/build
